// NOTE: override the default font style with italic
// This style sheet is based on themes/DoIt/assets/css/themes/syntax-light.scss

// supported italic for following semantic tokens:
//  - Keyword and its variants
//  - Comment and its variants
//      - supported in light mode already
//      - not supported in dark mode in default, added here for consistency

// support italic for keywords
.chroma {

    // Keyword
    .k {
        font-style: italic;
    }

    // KeywordConstant
    .kc {
        font-style: italic;
    }

    /* KeywordDeclaration */
    .kd {
        font-style: italic;
    }

    /* KeywordNamespace */
    .kn {
        font-style: italic;
    }

    /* KeywordPseudo */
    .kp {
        font-style: italic;
    }

    /* KeywordReserved */
    .kr {
        font-style: italic;
    }

    /* KeywordType */
    .kt {
        font-style: italic;
    }

    /* Comment */
    .c {
        font-style: italic;
    }

    /* CommentHashbang */
    .ch {

        font-style: italic;
    }

    /* CommentMultiline */
    .cm {

        font-style: italic;
    }

    /* CommentSingle */
    .c1 {

        font-style: italic;
    }

    /* CommentSpecial */
    .cs {

        font-style: italic;
    }

    /* CommentPreproc */
    .cp {

        font-style: italic;
    }

    /* CommentPreprocFile */
    .cpf {
        font-style: italic;
    }
}
