@import url('https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/lxgwwenkaimono-regular/result.css');
$global-font-family: LXGW WenKai Mono,
    $global-font-family;

@import url('https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@v3.3.0/build/firacode-nerd-font.css');
$code-font-family: FiraCode Nerd Font,
    Source Code Pro,
    Menlo,
    Consolas,
    Monaco,
    monospace,
    $global-font-family;

// force the font color in <mark> to be black (#000000) when the default background color is yellow (#ffff00)
// for more compatibility with dark mode
mark {
    color: black;

    del {
        color: black;
    }
}
