@import 'fonts/firacode-nf.scss';
@import 'fonts/lxgw-wenkai-mono.scss';
@import 'fonts/maple-mono.scss';

$global-font-family: LXGW WenKai Mono,
    $global-font-family;

$code-font-family: Maple Mono,
    Source Code Pro,
    Menlo,
    Consolas,
    Monaco,
    monospace,
    $global-font-family;

// force the font color in <mark> to be black (#000000) when the default background color is yellow (#ffff00)
// for more compatibility with dark mode
mark {
    color: black;

    del {
        color: black;
    }
}
